.resident{
    border-radius: 0.8em;
    background-color: #000000;
    box-shadow: 0em 0em  1em  .1em rgb(168, 255, 81);
    overflow: hidden;
    max-width: 20em;
}
.resident__header{
    position: relative;

}
.resident__container-status{
    display: flex;
    gap: 1em;
    align-items: center;
    position: absolute;
    top: 1.5em;
    width: 7em;
    background-color: #062226;
    padding: 0.3em 0 0.2em 0.4em;
    border-radius: 0 0.4em 0.4em 0 ;
}
.resident__circle{
    display: block;
    width: 0.7em;
    aspect-ratio: 1;
    border-radius: 50%;
}
.unknown{
    background-color: #aaa;
}
.Alive{
    background-color: rgb(31, 145, 31);
}
.Dead{
    background-color: rgb(213, 21, 21);
}
.resident__body{
    padding: 1em 1.1em 1.5em;
}
.resident__name{
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 1.3em;
}
.resident__hr{
    border: none;
    border-top: 1px solid rgb(229, 255, 0);
}
.resident__list{
    display: grid;
    gap: 0.5em;
}
.resident__item{
    display: flex;
    flex-direction:column ;
}
.resident__label{
    font-size: 0.8em;
    position: relative;
    left: 1em;
    color: #4eff1d;
}